@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
html {
	font-size: 19px;
	line-height: 1.5;
}

body {
	font-family: sans-serif;
}

body::-webkit-scrollbar {
	width: 0.6rem;
}

body::-webkit-scrollbar-thumb {
	background: #222835;
}

body::-webkit-scrollbar-thumb:hover {
	background: #A66064;
}

nav {
	background: white;
	padding: 0px 40px;
	font-family: 'Poppins', sans-serif;
}

ul {
	list-style-type: none;
}

a {
	color: #3c475f;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.logo {
    color: #123688;
	text-transform: uppercase;
	letter-spacing: 2.4px;
	font-size: 23px;
}

.logo a:hover {
    text-decoration: none;
   
}

.menu li {
	font-size: 16px;
	padding: 15px 5px;
	white-space: nowrap;
}



.logo a{
    background-color: #CA4246;
    background-image: linear-gradient(
         45deg,
         #CA4246 16.666%, 
         #E16541 16.666%, 
         #E16541 33.333%, 
         #F18F43 33.333%, 
         #F18F43 50%, 
         #8B9862 50%, 
         #8B9862 66.666%, 
         #476098 66.666%, 
         #476098 83.333%, 
         #A7489B 83.333%);  
   background-size: 100%;
   background-repeat: repeat;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   transition: 0.3s all;
}

.logo a,
.toggle a {
	font-weight: bold;
    font-size: 22px;
    
}

.my-20 {
	margin-bottom: 20px;
	margin-top: 20px;
}

.text-muted {
	color: #8D95A6;
}


.text-active {
	color: #6F76D9;
}



.subtitle {
	font-size: 1.2em;
}


/* Mobile menu */

.menu {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.toggle {
	order: 1;
}

.item.button {
	order: 2;
}

.item {
	width: 100%;
	text-align: center;
	order: 3;
    display: none;
    
}

.item.active {
	display: block;
}
.item a {
    padding-bottom: 5px;
    position: relative;
}

.item a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(92, 231, 173);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.item a:hover:after { 
    width: 100%; 
    left: 0; 
}

/* Navbar Toggle */

.toggle {
	cursor: pointer;
}

.burger div {
	width: 30px;
	height: 3px;
	background-color: #3c475f;
	margin: 5px;
	transition: all .3s ease;
}

.btn {
	margin: 15px 0px;
	padding: 10px 15px;
	display: inline-block;
	border-radius: 7px;
	font-size: .9em;
}

.buttons{
 display: flex;
 align-content: center;
 justify-content: space-between;
 width:90%;
}

.buttons .btn {
	margin: 15px 0px 12px;
	padding: 10px 12px;
	display: inline-block;
	border-radius: 7px;
	font-size: .6em;
}

.buttons p{
	margin: auto 0;
	color: inherit;
	color: #27282985;
}

.btn-white {
	color: white;
	border: 2px solid #eee;
	transition: .3s;
}

.btn-white:hover {
	color: #222835;
	background-color: white;
}
.cardContainer {
	padding: 20px 40px;
  }

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	grid-gap: 2rem;
	
  }
  
  .grid .article {
	box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	height: 92%;
	
  }
  
  .grid .article img {
	transition: 1.3s all;
	max-width: 100%;
	overflow: hidden;
	opacity: 0.9;
	filter: brightness(0.8);
  }
  .grid .article img:hover{
	  transform: scale(1.1);
	  transition: 1.3s all;
	  filter: brightness(0.96);
  }
  
  .grid .text {
	padding: 20px;
	border-radius: 20% 20% 0 0;
	background-color: rgb(255, 255, 255);
	position: relative;
	top: -60px;
	
  }

  .grid .text h3{
	  color: #032f58;
	  margin-top: 2px;
	  padding-bottom: 15px;
  }
  .label{
	 margin-top: 20px;
  }

  .label li{
		font-size: 0.67rem;
		display: inline-block;
		padding: 3px 15px;
		color: white;
		margin-right: 10px;
		border-radius: 20px;
		background-color: #ff9100ea;
  }

  .see-recipe{
	  color: white;
	  margin-top: 15px;
	  background-color: #020a53;
  }

.cardContainer{
	font-family: 'Poppins', sans-serif;
}


.my-20 {
	margin: 20px 0px;
}


/*Article */

img {
	width: 100%;
}

main {
	width: 100%;
	padding: 0 20px;
}

.rounded-20 {
	border-radius: 20px;
}

.rounded-5 {
	border-radius: 5px;
}

.shadow-sm {
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.14);
}

.p-10 {
	padding: 10px;
}

.p-20 {
	padding: 20px;
}

#bg {
	width: 100%;
	height: 85vh;
    background: #02aab0; 
    background: -webkit-linear-gradient(to right, #02aab0, #00cdac); 
    background: linear-gradient(to right, #02aab0, #00cdac); 
	background-size: cover;
	background-repeat: no-repeat;
}

.title-div {
	padding: 40px;
	font-family: 'Poppins', sans-serif;
	
}

.title-div h2{
    text-align: left;
    color: #13173b;
}

.sub {
	color: #3c475f85;
}

.hero{
    flex-direction: column;
    justify-content: space-evenly;
}

.dropshadow {
	filter: drop-shadow(5px 0px 20px rgba(0, 0, 0, .7));
}

.scale-down {
	object-fit: scale-down;
}

#img-pizza{
	-webkit-animation: rotation 80s infinite linear;
	
}

.contain {
	object-fit: contain;
}

.flex-row {
	display: flex;
}

.centered {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.mark .line1 {
	transform: rotate(-45deg) translate(-5px, 6px)
}

.mark .line2 {
	opacity: 0;
}

.mark .line3 {
	transform: rotate(45deg) translate(-5px, -6px)
}

.filter{
	height: 50vh;
}

.filter .searchbar{
	width:98%;
	display: flex;
	flex-direction: row;
}

.searchbar input{
	padding:9.9px 15px;
	width: 72%;
	border-style: none;
	border-bottom:0.3px solid #00cdac ;
	outline: none;
	font-size: .9rem;
	border-radius:3px 0 0 3px;

}

.searchbar input:focus{
	border-bottom:0.3px solid #3187e985;
}

.searchbar button{
	padding: 12px 15px;
	border-style: none;
	margin-left: 10px;
	background: #123688;
	color: white;
	border-radius:0 4px 4px 0;
	cursor: pointer;
	font-size: .7rem;
}



/* Tablet menu */

@media all and (min-width: 468px) {
	.menu {
		justify-content: center;
	}
	.logo {
		flex: 1;
	}
	.item.button {
		width: auto;
		order: 1;
		display: block;
	}
	.toggle {
		order: 2;
	}
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
	.buttons .btn {
	margin: 15px 0px 12px;
	padding: 10px 12px;
	display: inline-block;
	border-radius: 7px;
	font-size: .61em;
}

.buttons{
	display: flex;
	align-content: center;
	justify-content: space-between;
	width:100%;
   }
	}
	 

/* Desktop menu */

@media all and (min-width: 768px) {
	.item {
		display: block;
		width: auto;
	}
	.toggle {
		display: none;
	}
	.logo {
		order: 0;
	}
	.item {
		order: 1;
	}
	.button {
		order: 2;
	}
	.menu {
		padding: 15px 0px;
	}
	.menu li {
		padding: 15px 10px;
	}
	.menu li.button {
		padding-right: 0;
	}
	.title-div {
		width: 46%;
		margin: auto 0;
	}
	.flower-div {
		width: 36.5%;
	}

    .hero{
        flex-direction: row; 
	}
	
	.grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
		grid-gap: 2.5rem;
	  }
	.buttons p{
		   margin: auto 0;
		   color: inherit;
		   color: #27282985;
	}
	.searchbar input{
		padding:10.9px 15px;
		width: 60%;
		
	}

}

@media (min-width: 900px) {
	
    .buttons{
		display: flex;
		align-content: center;
		justify-content: space-between;
		width: 53%;
		
	}
	.buttons .btn {
	margin: 15px 0px;
	padding: 10px 15px;
	display: inline-block;
	border-radius: 7px;
	font-size: .77em;
	}
}

@media all and (max-width: 768px) {
	
	
}

@media all and (max-width: 968px) {}




@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-359deg);
    }
  }