@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} 


a{
  text-decoration:none ;
  color: #000;
}

ul,li{
  list-style-type: none;
}


body::-webkit-scrollbar {
  width: 0.6rem;
}

body::-webkit-scrollbar-thumb {
  background: #343944;
}

body::-webkit-scrollbar-thumb:hover {
  background: #e95252;
}

.main{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.text,.side-banner{
  flex-basis: 50%;
}

.side-banner{
  position: relative;
  height: 100%;
  background: #ff706a;
}

.side-banner nav ul{
  display: flex;
  margin-top: 50px;
  margin-left: 70px;
}

.side-banner nav ul li{
  margin-right: 50px;
 
}

.side-banner nav ul li a{
  color: aliceblue;
}

.banner-img{
  position: absolute;
  top: 20%;
  right:-20%;
  
}

.banner-img2{
  position: relative;
  left: -26%;
  display: none;
  transform: scale(0.8);
}

.text {
  margin-left: 80px;
}
.text .title{
  margin-top: 5%;
}

.text .title h2{
  font-family: "lobster";
  font-size: 50px;
  color: #ff706a;
  letter-spacing: 1.1px;
}

.text .banner-text{
  margin-top: 100px;
}

.banner-text h1{
  font-size: 3.7em;
  color: #ff706a;
  font-family: "lobster";
  margin-bottom: 20px;
  display: inline-block;
}

.banner-text p{
  font-size: 16px;
  margin-bottom: 30px;
  padding-right: 100px;
  
}

.btn{
  display: inline-block;
  padding: 8px 30px;
  background: #ff706a;
  border-radius: 30px;
  color: #fff;
}


.nav-sm {
  color: aliceblue;
  background-color: #ff706a;
  height: 100vh;
  width: 270px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  display: none;
  transform: translateX(270px);
  transition: transform 0.3s ease-in-out;
}

.logo{
  font-family: 'lobster', cursive;
  letter-spacing: 1.1px;
  font-size: 30px;
  display: block;
  text-align: right;

  margin-right: 50px;
  padding: 0 7px;
  font-weight: bolder;
  margin-top: 20px;
}


.container {
display: flex;
flex-direction: row;
justify-content: center;
margin:8px 0 15px;
align-items: center;
}

.searchbar {
  float: right;
  background-color:inherit;
  color: white;
  padding: 6px 10px;
  width: 140px;
  border: none;
  margin-top: 1px;
  margin-left: 28px;
  font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
  font-size: 1em;
  font-weight: bold;
  border-bottom: white solid 2px;
  transition: 0.3s;
}

.searchbar::placeholder {
  color: white;
  font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
  font-size: 1em;

}

.searchbar:focus {
  width: 180px;
  font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
  font-size: 1em;
  font-weight: bold;
  transition: 0.3s;
  border-bottom: white solid 1px;
  outline: none;
}

.btn-search {
  cursor: pointer;
  color: white;
  text-decoration: none !important;
  font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
  font-size: 1em;
  padding-top: 5px;
  margin-right: 5px;
}
.nav-sm ul, .nav-sm li, .nav-sm li a {
  display: block;
}

.nav-sm li a {
  text-align: center;
  padding: 5px;
  color: #fff;
  font-size: 1.3rem;
  text-decoration: none;
  font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
  font-weight: bolder;
  
}

.nav-sm li a:hover,
.nav-sm li a:focus {
  background:#d04444;
  
  text-shadow: 0px 1px 2px #e06d50 ;
  transition: all .2s;
  cursor: pointer;
 
}
.menu-btn {
  background-color : #ff706a ;
  position: fixed;
  top: 6%;
  right: 0px;
  height: 70px;
  z-index: 2;
  width: 70px;
  display: none;
  justify-content: center;
  align-items: center;
    border-radius: 50% 0% 0% 50%;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger,
.menu-btn__burger::before,
.menu-btn__burger::after {
  width: 30px;
  height: 4px;

  border-radius: 5px;
  background-color: #fff;
  

  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
}
.menu-btn__burger::before {
  transform: translateY(-10px);
}
.menu-btn__burger::after {
  transform: translateY(10px);
}
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background-color: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}


@media screen and (max-width: 900px) and (min-width: 700px) {
   
.text{
  flex-basis: 100%;
  margin-left: 13px;
}
.banner-text h1{
  font-size: 2.7em;
}
.side-banner{
  flex-basis: 10%;
}
.lg-nav{
  display: none;
}
.banner-img2{
  display: inline-block;
}

.menu-btn{
  display: flex;
}
.side-banner{
  display:none ;
}
.nav-sm{
  display: block;
}
.btn{
  display: inline-block;
  padding: 8px 20px;
  
}


}

  
@media only screen and (max-width: 600px) {
  
 
.text{
    flex-basis: 100%;
    margin-left: 13px;
  }
  .banner-text h1{
    font-size: 2.7em;
  }
  .side-banner{
    flex-basis: 10%;
  }
  .lg-nav{
    display: none;
  }
  .banner-img2{
    display: inline-block;
  }

  .menu-btn{
    display: flex;
  }
  .side-banner{
    display:none ;
  }
  .nav-sm{
    display: block;
  }
  .btn{
    display: inline-block;
    padding: 8px 20px;
    
  }
}
